<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li routerLinkActive="active">
				<a routerLink="posts">Posts</a>
			</li>
			 <li routerLinkActive="active">
	        	<a routerLink="posts/new">New Post</a>
	      	</li>
		</ul>
	</div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Blog v2 with new posts</h2>
       <router-outlet></router-outlet>
    </div>
  </div>
</div>